*{
    margin: 0;
    padding: 0;
}

body{
        font-family: 'Montserrat', sans-serif;
        overflow-x:hidden ;
        background-image: url(./imagenes/bg.jpg);
        /* display: flex;
        flex-direction: column;
        min-height: 50%; */
}

.error-message{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
    width: 100%;
}

img{
    width: 200px;
    height: 200px;
   
}
p{
    font-size: 20px;
    
}

.animated{
    animation-duration: 2.8s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}

.bounce {
    animation-name: bounce;
}